* {
    margin: 0;
    padding: 0; 
}

body {
    background: url('../img/bg.png');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-position: fixed;
}

.shipyard {
    margin-top: 5%
}

.hidden {
    display: none
}

.factory-input {
    margin: 6px 0;
}