.navbar img{
    height: 5vh;
}

#getBtn {
    margin-top: 5vh;
}

.title {
    font-size: 2.6em;
}

.stat {
    font-size: 1.6em;
}

#hourly {
    display:none;
    opacity: 0.9;
}
#message {
    background-color: white;
    opacity: 0.9;  
}
#stats {
    background-color: white;
    opacity: 0.9;
}
body {
    background-image: url(https://clipground.com/images/blue-skies-clipart-17.jpg);
}